BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #aaddaa; 
	SCROLLBAR-3DLIGHT-COLOR: #ddffdd; 
	SCROLLBAR-ARROW-COLOR: white; 
	SCROLLBAR-DARKSHADOW-COLOR: black; 
	SCROLLBAR-BASE-COLOR: darkseagreen;
}
A {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; 
	COLOR: red; 
	TEXT-DECORATION: none
}
A.menu {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A.menu:hover {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
TABLE.grid {
	BACKGROUND: gray
}
TABLE.header {
	BACKGROUND: #aaddaa
}
TABLE.topholder {
	BACKGROUND-IMAGE: url(cp_styles/bg_green.jpg); 
	BACKGROUND-REPEAT: repeat-x
}
TR.fixed {
	BACKGROUND-COLOR: #ddffdd
}
TR.normal {
	BACKGROUND-COLOR: #ffffcc
}
TD {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 100%; 
	COLOR: darkgreen; 
	FONT-FAMILY: Helvetica,Arial
}
TD.list {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 2px; 
	VERTICAL-ALIGN: middle; 
	FONT-WEIGHT: bold; 
	COLOR: black
}
TD.list_center {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	COLOR: midnightblue; 
	TEXT-ALIGN: center
}
TD.optionsbar_menus {
	BORDER-RIGHT: white 2px outset; 
	PADDING-RIGHT: 4px; 
	BORDER-TOP: white 2px outset; 
	BORDER-LEFT: white 2px outset; 
	PADDING-LEFT: 4px; 
	BORDER-BOTTOM: white 2px outset; 
	VERTICAL-ALIGN: middle; 
	COLOR: black; 
	BACKGROUND-COLOR: #cceecc; 
	FONT-WEIGHT: bold; 	
	FONT-SIZE: 10px; 
	TEXT-ALIGN: center
}
TD.title {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid;
	PADDING-LEFT: 2px; 	
	BACKGROUND: #659867; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 
	TEXT-ALIGN: center
}
TD.cat {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid;
	PADDING-LEFT: 2px; 	
	BACKGROUND: darkseagreen; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 
	TEXT-ALIGN: center
}
TD.userdetails_data {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #ddffdd; 
	VERTICAL-ALIGN: top; 
	COLOR: black
}
INPUT {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	BACKGROUND: #ddffdd; 
	COLOR: black; 
	FONT-FAMILY: arial
}
SELECT.insidetitle {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	BACKGROUND: darkseagreen; 
	COLOR: white; 
	FONT-FAMILY: arial
}
#ban {
            	HEIGHT: 60px; 
	WIDTH: 200px;        
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	BACKGROUND: darkseagreen; 
	COLOR: white; 
	FONT-FAMILY: arial
}
DIV.menu {
	PADDING-TOP: 2px;
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 2px; 
	PADDING-BOTTOM: 2px; 
	WIDTH: 170px
}
.navtitle {
	BORDER-TOP: #ddffdd 2px solid;
	PADDING-TOP: 2px;
	BORDER-LEFT: #DFDFDF 2px solid;  
	PADDING-LEFT: 2px;
	BORDER-RIGHT: #666666 2px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-BOTTOM: #666666 2px solid; 
	PADDING-BOTTOM: 2px;
	MARGIN-TOP: 4px; 
	COLOR: black; 
	FONT-WEIGHT: bold; 
	BACKGROUND: #659867
}
.navgroup { 
	BORDER-TOP: #ddffdd 0px solid;
	BORDER-LEFT: #DFDFDF 2px solid;
	BORDER-RIGHT: #666666 2px solid;
	BORDER-BOTTOM: #666666 1px solid;
	MARGIN-BOTTOM: 8px
}
.navlink-normal {
	PADDING-TOP: 2px;
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 2px; 
	PADDING-BOTTOM: 1px; 
	BORDER-BOTTOM: #666666 1px solid;
	CURSOR: pointer
}
.navlink-hover {
	PADDING-TOP: 2px; 
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 2px; 
	PADDING-BOTTOM: 1px; 
	BORDER-BOTTOM: #666666 1px solid;
	CURSOR: pointer
}
.navlink-normal {
	BACKGROUND: #ddffdd
}
.navlink-hover {
	BACKGROUND: #aaddaa
}

TD.optionheader_selected {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #aa0000; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 

TEXT-ALIGN: center
}

TD.f1 {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #ffffcc; 
	VERTICAL-ALIGN: top; 
	COLOR: midnightblue
}
TD.f2ts {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #ddffdd; 
	COLOR: midnightblue; 
}
TD.deleted {
	BACKGROUND-COLOR: #aadddd
}
