BODY {
	BACKGROUND: white; 
	SCROLLBAR-HIGHLIGHT-COLOR: #aaddaa; 
	SCROLLBAR-3DLIGHT-COLOR: #ddffdd; 
	SCROLLBAR-ARROW-COLOR: white; 
	SCROLLBAR-DARKSHADOW-COLOR: black; 
	SCROLLBAR-BASE-COLOR: darkseagreen
}
A {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; 
	COLOR: black; 
	TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; 
	COLOR: red; 
	TEXT-DECORATION: none
}
A.menu {
	FONT-WEIGHT: bold; 
	COLOR: green; 
	TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: green
}
A.menu:hover {
	COLOR: orange
}
A.menu2 {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	COLOR: red; 
	TEXT-DECORATION: none
}
A.menu2:visited {
	COLOR: red
}
A.menu2:hover {
	COLOR: orange
}
A.menu3 {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	COLOR: green; 
	TEXT-DECORATION: none
}
A.menu3:visited {
	COLOR: green
}
A.menu3:hover {
	COLOR: red
}
A.menu_admin {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	COLOR: white; 
	TEXT-DECORATION: none
}
A.menu_admin:visited {
	COLOR: white
}
A.menu_admin:hover {
	COLOR: red
}
A.tiny {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	COLOR: darkgreen; 
	TEXT-DECORATION: none
}
A.tiny:visited {
	COLOR: darkgreen
}
A.tiny:hover {
	COLOR: red
}
TABLE.mods {
	FONT-SIZE: 75%; 
	COLOR: orange; 
	TEXT-ALIGN: right
}
TABLE.editedby {
	BACKGROUND: red
}
TABLE.mainheader {

}
TABLE.menubar {
	
}
TABLE.userbar {
	
}
TABLE.footerbar {
	BACKGROUND: white
}
TABLE.optionsbar {
	BORDER-RIGHT: white 2px outset; 
	BORDER-TOP: white 2px outset; 
	BACKGROUND: #88aa88; 
	BORDER-LEFT: white 2px outset; 
	BORDER-BOTTOM: white 2px outset
}
TABLE.optionsbar2 {
	BACKGROUND: #cceecc
}
TABLE.grid {
	BACKGROUND: gray
}
TABLE.topholder {
	BACKGROUND-IMAGE: url(bg_green.jpg); 
	BACKGROUND-REPEAT: repeat-x
}
TABLE.surveyTable {
	BACKGROUND: black
}
TABLE.chatusers {
	BACKGROUND: #cceecc
}
TR.normal {
	BACKGROUND-COLOR: #ffffcc
}
TR.fixed {
	BACKGROUND-COLOR: #ddffdd
}
TR.deleted {
	BACKGROUND-COLOR: #99bb99
}
TR.unmoderated {
	BACKGROUND-COLOR: #ddddff
}
TR.freezed {
	BACKGROUND-COLOR: #ffaaaa
}
TR.lastposter {
	BACKGROUND-COLOR: #cccccc
}
TR.highlighted {
	BACKGROUND-COLOR: #f2c2c2
}
TD.normal {
	BACKGROUND-COLOR: #dddddd
}
TD.fixed {
	BACKGROUND-COLOR: #ffffdd
}
TD.deleted {
	BACKGROUND-COLOR: #aadddd
}
TD.first {
	BACKGROUND-COLOR: #ddffdd
}
TD.unmoderated {
	BACKGROUND-COLOR: #ddddff
}
TD.freezed {
	BACKGROUND-COLOR: #ffaaaa
}
TD.lastposter {
	BACKGROUND-COLOR: #cccccc
}
TD {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 100%; 
	COLOR: darkgreen; 
	FONT-FAMILY: Helvetica,Arial
}
TD.list {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 2px; 
	VERTICAL-ALIGN: top; 
	COLOR: midnightblue
}
TD.list_center {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	COLOR: midnightblue; 
	TEXT-ALIGN: center
}
TD.list_date {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	COLOR: red; 
	TEXT-ALIGN: center
}
TD.list_small {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	COLOR: midnightblue; 
	TEXT-ALIGN: center
}
TD.list_small2 {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	BACKGROUND: #eeffee; 
	COLOR: midnightblue; 
	TEXT-ALIGN: center
}
TD.list_names {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	COLOR: gray; 
	TEXT-ALIGN: right
}
TD.list_email {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 66%; 
	COLOR: black; 
	TEXT-ALIGN: center
}
TD.list_options {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	BACKGROUND: #ccffcc; 
	PADDING-BOTTOM: 4px; 
	COLOR: midnightblue; 
	PADDING-TOP: 4px; 
	TEXT-ALIGN: center
}
TD.posticon {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 10px; 
	BACKGROUND: none transparent scroll repeat 0% 0%; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: menutext; 
	BORDER-BOTTOM: buttonshadow 1px solid; 
	TEXT-ALIGN: center
}
TD.menu {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 0px; 
	COLOR: black; 
	PADDING-TOP: 0px; 
	TEXT-ALIGN: center; 
	valign: bottom
}
TD.menu_out {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9pt; 
	BACKGROUND: #660000; 
	PADDING-BOTTOM: 3px; 
	COLOR: white; 
	PADDING-TOP: 3px
}
TD.menu_admin {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px
}
TD.menu0 {
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 1px; 
	COLOR: white; 
	PADDING-TOP: 1px; 
	TEXT-DECORATION: none
}
TD.main {
	PADDING-RIGHT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12pt; 
	COLOR: red; 
	TEXT-DECORATION: none
}
TD.logo {
	
}
TD.user {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 14px; 
	PADDING-BOTTOM: 0px; 
	COLOR: black; 
	PADDING-TOP: 0px
}
TD.footer {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 14px; 
	BACKGROUND: #ffffcc; 
	PADDING-BOTTOM: 3px; 
	COLOR: green; 
	PADDING-TOP: 3px
}
TD.editedby {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9px; 
	BACKGROUND: #ffddcc; 
	PADDING-BOTTOM: 3px; 
	COLOR: red; 
	PADDING-TOP: 3px
}
TD.chatusers {
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 1px; 
	FONT-SIZE: 11px; 
	BACKGROUND: #ddffdd; 
	PADDING-BOTTOM: 1px; 
	PADDING-TOP: 1px; 
	TEXT-ALIGN: center
}
TD.forumusers {
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 1px; 
	FONT-SIZE: 11px; 
	BACKGROUND: #bbddbb; 
	PADDING-BOTTOM: 1px; 
	PADDING-TOP: 1px; 
}
TD.chatusersholder {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px
}
TD.surveyQuestion {
	PADDING-RIGHT: 20px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 22px; 
	BACKGROUND: black; 
	COLOR: white; 
	TEXT-ALIGN: center
}
TD.surveyResultText {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 15px; 
	BACKGROUND: #ffe4b5; 
	COLOR: #703200; 
	TEXT-ALIGN: right
}
TD.surveyResultTextVoted {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 15px; 
	BACKGROUND: #e4ffb5; 
	COLOR: #703200; 
	TEXT-ALIGN: right
}
TD.surveyResultNumber {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 20px; 
	BACKGROUND: #ffe4b5; 
	COLOR: red; 
	TEXT-ALIGN: center
}
TD.surveyResultPercentage {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 20px; 
	BACKGROUND: #ffe4b5; 
	COLOR: orange; 
	TEXT-ALIGN: center
}
TD.surveyHeader {
	BACKGROUND: red; 
	COLOR: white; 
	TEXT-ALIGN: center; 
	text-size: 10pt
}
TD.userdetails_header {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: darkseagreen; 
	COLOR: white
}
TD.userdetails_title {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #aaeeaa; 
	VERTICAL-ALIGN: top; 
	COLOR: black
}
TD.userdetails_data {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #ddffdd; 
	VERTICAL-ALIGN: top; 
	COLOR: black
}
TD.optionheader {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid; 
	PADDING-LEFT: 2px; 
	BACKGROUND: darkseagreen; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 
	TEXT-ALIGN: center
}
TD.optionheader_selected {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #aa0000; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 

TEXT-ALIGN: center
}
TD.stats_h {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 14px; 
	COLOR: white; 
	BACKGROUND-COLOR: gray; 
	TEXT-ALIGN: center
}
TD.stats_t {
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 6px; 
	FONT-SIZE: 12px; 
	BACKGROUND-COLOR: #66BB66
}
TD.stats_p {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 14px; 
	BACKGROUND-COLOR: #bbddbb
}
TD.stats_g {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 14px; 
	COLOR: white; 
	BACKGROUND-COLOR: #88bb88
}
TD.stats_graph {
	BACKGROUND-COLOR: #004400; 
	TEXT-ALIGN: right
}
TD.stats {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	FONT-FAMILY: helvetica,arial; 
	BACKGROUND-COLOR: #ccffcc; 
	TEXT-ALIGN: center
}
TD.stats_info {
	FONT-SIZE: 18px; 
	PADDING-BOTTOM: 3px; 
	COLOR: white; 
	PADDING-TOP: 3px; 
	BACKGROUND-COLOR: #88bb88; 
	TEXT-ALIGN: center
}
TD.stats_menu {
	BORDER-RIGHT: #aabbaa 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: #aabbaa 1px solid; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: #aabbaa 1px solid; 
	COLOR: red; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #aabbaa 1px solid; 
	BACKGROUND-COLOR: #e0ffe0; TEXT-ALIGN: right
}
TD.stats_menuSel {
	BORDER-RIGHT: red 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: red 1px solid; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: red 1px solid; 
	COLOR: red; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: red 1px solid; 
	BACKGROUND-COLOR: #ffe0e0; 
	TEXT-ALIGN: right
}
TD.stats_menuCmd {
	BORDER-RIGHT: blue 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: blue 1px solid; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: blue 1px solid; 
	COLOR: blue; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: blue 1px solid; 
	BACKGROUND-COLOR: #e0e0ff; 
	TEXT-ALIGN: right
}
TD.advert {
	BORDER-RIGHT: white 2px outset; 
	BORDER-TOP: white 2px outset; 
	BORDER-LEFT: white 2px outset; 
	BORDER-BOTTOM: white 2px outset; 
	BACKGROUND-COLOR: white
}
TD.optionsbar_title {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 18px; 
	COLOR: white
}
TD.optionsbar_menus {
	BORDER-RIGHT: white 2px outset; 
	PADDING-RIGHT: 4px; 
	BORDER-TOP: white 2px outset; 
	PADDING-LEFT: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: white 2px outset; 
	COLOR: black; 
	BORDER-BOTTOM: white 2px outset; 
	BACKGROUND-COLOR: #cceecc; 
	TEXT-ALIGN: center
}
TD.optionsbar_menus2 {
	BORDER-RIGHT: white 2px outset; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: white 2px outset; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: white 2px outset; 
	COLOR: black; 
	BORDER-BOTTOM: white 2px outset; 
	BACKGROUND-COLOR: #eeffee; 
	TEXT-ALIGN: center
}
TD.extras {
	BORDER-RIGHT: white 2px outset; 
	PADDING-RIGHT: 4px; 
	BORDER-TOP: white 2px outset; 
	PADDING-LEFT: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: white 2px outset; 
	COLOR: black; 
	BORDER-BOTTOM: white 2px outset; 
	BACKGROUND-COLOR: #cceecc; 
	TEXT-ALIGN: center
}
TD.extras2 {
	BORDER-RIGHT: white 2px outset; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: white 2px outset; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: white 2px outset; 
	COLOR: black; 
	BORDER-BOTTOM: white 2px outset; 
	BACKGROUND-COLOR: #ffeeee; 
	TEXT-ALIGN: center
}
TD.cat {
	BORDER-RIGHT: buttonshadow 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: buttonhighlight 1px solid; 
	PADDING-LEFT: 2px; 
	BACKGROUND: darkseagreen; 
	BORDER-LEFT: buttonhighlight 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: buttonshadow 1px solid; 
	TEXT-ALIGN: center
}
TD.f1 {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	BACKGROUND: #ffffcc; 
	VERTICAL-ALIGN: top; 
	COLOR: midnightblue
}
TD.f1m {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	BACKGROUND: #ffffcc; 
	COLOR: midnightblue
}
TD.f2ts {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 75%; 
	BACKGROUND: #ddffdd; 
	COLOR: midnightblue; 
	TEXT-ALIGN: center
}
INPUT {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	BACKGROUND: #ddffdd; 
	COLOR: black; 
	FONT-FAMILY: arial
}
INPUT.submit {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	BACKGROUND: #ddffdd; 
	COLOR: black; 
	FONT-FAMILY: arial
}
INPUT.log {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	BACKGROUND: #eeffee; 
	COLOR: black; 
	FONT-FAMILY: arial
}
INPUT.small {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	BACKGROUND: none transparent scroll repeat 0% 0%; 
	COLOR: red; 
	FONT-FAMILY: arial
}
TEXTAREA {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	BACKGROUND: #ffffcc; 
	COLOR: black; 
	FONT-FAMILY: arial
}
SELECT.insidetitle {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	BACKGROUND: darkseagreen; 
	COLOR: white; 
	FONT-FAMILY: arial
}
SELECT {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	BACKGROUND: #FFFFCC; 
	COLOR: black; 
	FONT-FAMILY: arial
}
SELECT.forumSelect {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	BACKGROUND: #DDFFDD; 
	COLOR: black; 
	FONT-FAMILY: arial
}
SELECT.timezoneSelect {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: black;
	BACKGROUND-COLOR: orange
}
SELECT.styleSelect {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: white; 
	BACKGROUND-COLOR: darkgreen
}
SELECT.optionsbar_select {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: black; 
	BACKGROUND-COLOR: #cceecc
}
FONT.online{
	COLOR: red;
}